<h1 class="title">新規投稿</h1>
<%= link "Back", to: Routes.admins_post_path(@conn, :index), class: "button" %>

<%= render "form.html", Map.put(assigns, :action, Routes.admins_post_path(@conn, :create)) %>

