<h1>
  <%= @blog.title %>
</h1>

<img src="<%= @blog.image %>"/>

<%= parse_markdown(@blog.body) |> raw %>

<span><%= link "Edit", to: Routes.admins_blog_path(@conn, :edit, @blog) %></span>
<span><%= link "Back", to: Routes.admins_blog_path(@conn, :index) %></span>
